<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/defaultAdmin}">

<th:block layout:fragment="customTitle">
	<title>메세지 문구</title>
</th:block>

<th:block layout:fragment="customCss">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</th:block>

<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<h1 class="m-0 text-dark">메세지 문구 리스트</h1>
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
	 	
	 	<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				
				<div class="card">
					<!-- start card-header -->
					<div class="card-header">
						<div class="row">
							<div class="col-sm-8">
								<form role="form">
									<div class="row">
										<div class="col-sm-3">
											<div class="form-group">
						                        <select class="form-control custom-select">
						                          <option>option 1</option>
						                          <option>option 2</option>
						                        </select>
						                    </div>
										</div>
										<div class="col-sm-9">
											<div class="row">
												<div class="col-sm-10">
													<input class="form-control" type="search">
												</div>
												<div class="col-sm-2">
													<div class="input-group-append">
					                          			 <button class="btn btn-navbar" type="submit">
					                           			  <i class="fas fa-search"></i>
					                          			  </button>
					                          		</div>
				                          		</div>
			                          		</div>
										</div>
				                    </div>							
								</form>
							</div>
							<div class="col-sm-4">							
								<div class="btn-group">
									<button type="button" class="btn btn-outline-info btn-flat"  data-toggle="modal" data-target=".bs-add-modal-lg">메세지 등록</button>
									<button type="button" class="btn btn-outline-secondary btn-flat"  data-toggle="modal" data-target=".bs-modify-modal-lg">메세지 수정</button>
									<button type="button" class="btn btn-outline-danger btn-flat"  data-toggle="modal" data-target=".bs-delete-sm">메세지 삭제</button>
								</div>
							</div>
						</div>

							<!-- start 메세지 문구 등록  modal -->
							<div class="modal fade bs-add-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										
										<!-- form start -->
										<form role="form" action="#">
											<div class="modal-header">
												<h4 class="modal-title">메세지 등록하기</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											</div>
											<div class="modal-body">
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">도서관 코드</label>
									         		<div class="col-sm-10">
														<input type="text" class="form-control" placeholder="도서관 코드를 입력하세요.">
									         		</div>
									           	</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">분류</label>
									         		<div class="col-sm-10">
														<select class="form-control">
                     									    <option>반납</option>
                          									<option>예약</option>
                          									<option>연체</option>
                        								</select>
									         		</div>
									           	</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">메세지 내용</label>
									          		<div class="col-sm-10">
									          			<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
									          		</div>
									           </div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary">메세지 등록</button>
											</div>
										</form>
										<!-- form end -->
									</div>	
								</div>
							</div>
							<!--  end 메세지 문구 등록 modal -->
							<!-- start 메세지 문구 수정  modal -->
							<div class="modal fade bs-modify-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										
										<!-- form start -->
										<form role="form" action="#">
											<div class="modal-header">
												<h4 class="modal-title">메세지 수정하기</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											</div>
											<div class="modal-body">
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">메세지 코드</label>
									         		<div class="col-sm-10">
														<input type="text" class="form-control" value="" readonly="readonly">
									         		</div>
									           	</div>
									           	<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">도서관 코드</label>
									         		<div class="col-sm-10">
														<input type="text" class="form-control" value="" readonly="readonly">
									         		</div>
									           	</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">분류</label>
									         		<div class="col-sm-10">
														<select class="form-control">
                     									    <option>반납</option>
                          									<option>예약</option>
                          									<option>연체</option>
                        								</select>
									         		</div>
									           	</div>
												<div class="form-group row">
													<label for="inputEmail3" class="col-sm-2 col-form-label">메세지 내용</label>
									          		<div class="col-sm-10">
									          			<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
									          		</div>
									           </div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary">메세지 수정</button>
											</div>
										</form>
										<!-- form end -->
									</div>	
								</div>
							</div>
							<!--  end 기준 수정 modal -->
							<!-- start 기준 수정  modal -->
							<div class="modal fade bs-delete-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										
										<!-- form start -->
										<form role="form" action="#">
											<div class="modal-header">
												<h4 class="modal-title">메세지 삭제하기</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											</div>
											<div class="modal-body">
									            <div class="form-group">
													<label>메세지 코드</label>
									         		<div>
														<input type="text" class="form-control" value="" readonly="readonly">
									         		</div>
									           	</div>
												<div class="form-group">
													<p>해당 메세지 코드를 삭제 하시겠습니까?</p>
													<p><small>삭제를 원하시면 비밀 번호를 입력하세요.</small></p>	
									            </div>
												<div class="form-group">
													<label>비밀번호 확인</label>
									          		<div>
														<input type="password" class="form-control" placeholder="비밀번호를 입력하세요">
									          		</div>
									           </div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary">메세지 삭제</button>
											</div>
										</form>
										<!-- form end -->
									</div>	
								</div>
							</div>
							<!--  end 기준 수정 modal -->
					</div>
					<!--end card-header -->
					
					<div class="card-body">
						<table class="table table-bordered table-hover" style="text-align: center;">
		                  <thead>
			                  <tr>
			                  	<th><input type="checkbox"></th>
			                    <th>메세지 코드</th>
			                    <th>도서관 코드</th>
			                    <th>분류</th>
			                    <th>내용</th>
			                    <th>등록날짜</th>
			                    <th>등록자</th>
			                  </tr>
		                  </thead>
		                  <tbody>
			                  <tr>
			                  	<td><input type="checkbox"></td>
			                    <td>code</td>
			                    <td>도서관</td>
			                    <td>예약</td>
			                    <td>예약 만료시간 3시간 남았습니다.</td>
			                    <td>2020.06.10</td>
			                    <td>id001</td>
			                  </tr>
		                  </tbody>
		                  <tfoot>
			                  <tr>
			                  	<th><input type="checkbox"></th>
			                    <th>메세지 코드</th>
			                    <th>도서관 코드</th>
			                    <th>분류</th>
			                    <th>내용</th>
			                    <th>등록날짜</th>
			                    <th>등록자</th>
			                  </tr>
		                  </tfoot>
		                </table>
					</div>
					<!-- /.card-body -->
					<div class="card-footer clearfix">
						<ul class="pagination pagination-sm m-0 float-right">
							<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</th:block>

</html>