<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/defaultAdmin}">
  
	<th:block layout:fragment="customTitle">
		<title>파손 도서 목록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  	<!-- overlayScrollbars -->
	  	<link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	  	<!-- DataTables -->
		<link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="content-wrapper">
			<section class="content-header">
				<div class="register-logo">
					<a>파손 도서 목록</a>
				</div>
			</section>
			
			<section class="content">
				<div class="container-fluid">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<table id="example1" class="table table-bordered table-striped">
										<thead>
											<tr>
											  <th>도서명</th>
											  <th style="width: 10%;">파손날짜</th>
											  <th style="width: 10%;">처리 상태</th>
											  <th data-orderable="false" style="width: 10%;">수정</th>
											  <th data-orderable="false" style="width: 10%;">삭제</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<a>
													    AdminLTE v3
													</a>
												    <br/>
												    <small>
												        Created 01.01.2019
												    </small>
												</td>
												<td>2020-04-23</td>
											    <td class="project-state">
										        	<span class="badge badge-success">처리완료</span>
											    </td>
											    <td>
											        <a class="btn btn-info btn-sm" href="officeModifyBroken">
											            <i class="fas fa-pencil-alt">
											            </i>
														수정
											        </a>
											     </td>
											     <td>
											        <a class="btn btn-danger btn-sm" href="#">
											            <i class="fas fa-trash">
											            </i>
											        	삭제
											        </a>
											    </td>
											</tr>
											<tr>
												<td>
													<a>
													    AdminLTE v3
													</a>
												    <br/>
												    <small>
												        Created 01.01.2019
												    </small>
												</td>
												<td>2020-04-23</td>
											    <td class="project-state">
										        	<span class="badge badge-success">처리완료</span>
											    </td>
											    <td>
											        <a class="btn btn-info btn-sm" href="officeModifyBroken">
											            <i class="fas fa-pencil-alt">
											            </i>
														수정
											        </a>
											     </td>
											     <td>
											        <a class="btn btn-danger btn-sm" href="#">
											            <i class="fas fa-trash">
											            </i>
											        	삭제
											        </a>
											    </td>
											</tr>
										</tbody>
									</table>
								</div>	
							</div>
						</div>
					    <!-- /.card-body -->
					</div>
				    <!-- /.card -->
				</div>
		      	<!-- /.container-fluid -->
		    </section>
			
		</div>
		
	</th:block>
	
	<th:block layout:fragment="customFooterScript">
		<!-- OPTIONAL SCRIPTS -->
		<script src="dist/js/demo.js"></script>
		<!-- overlayScrollbars -->
		<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
		<!-- ionicons.com 아이콘 -->
		<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
		<!-- PAGE PLUGINS -->
		<!-- jQuery Mapael -->
		<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
		<script src="plugins/raphael/raphael.min.js"></script>
		<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
		<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
		<!-- ChartJS -->
		<script src="plugins/chart.js/Chart.min.js"></script>
		<!-- PAGE SCRIPTS -->
		<script src="dist/js/pages/dashboard2.js"></script>
		<!-- DataTables -->
		<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
		<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
		<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
		<!-- page script -->
		<script>
		  $(function () {
		    $("#example1").DataTable({
		      "responsive": true,
		      "autoWidth": false,
		    });
		    $('#example2').DataTable({
		      "paging": true,
		      "lengthChange": false,
		      "searching": false,
		      "ordering": true,
		      "info": true,
		      "autoWidth": false,
		      "responsive": true,
		    });
		  });
		</script>
	</th:block>
	
</html>